.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.budgetContainer {
  height: 40vh;
  width: 95vw;
  margin-top: 15px;
  text-align: left;
}
.budgetContainer h4, .nutrientContainer h4{
  font-size: 20px;
}

.budgetInfo {
  margin-bottom: 12px;
}
.budgetInfo, .nutrientContainer p {
  margin-left: 15px;
  font-size: 18px;
}

.budgetInfo span, .nutrientContainer span{
 font-size: 18px;
}

.nutrientContainer {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 95vw;
  margin-top: 15px;
}

.nutrientContainer :nth-child(2){
 font-style: italic;
 font-size: 12px;
}

.noRecipes {
  width: 90%;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
}

