.loginWithEmailBtn {
  background-color: #f37742;

  height: 65px;
  width: 275px;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  border-style: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.loginWithOauthBtn {
  background-color: #ffa927;

  height: 65px;
  width: 275px;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  border-style: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}



.Btn {
  background-color: #f37742;
  box-shadow: 0px 4px 4px 0px #00000040;

  height: 50px;
  width: 140px;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  border-style: none;
}
.regBtn {
  margin-top: 30px;
  color: #ffa927;
  border-style: none;
  text-decoration: underline;
}

.registerBtn {
  margin-top: 40px;
  margin-bottom: 20px;
}

.continueBtn {
  margin-top: 80px;
}

.logoutBtn {
  background-color: #E75858;
  margin-top: 60px;

}