.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.recipeItemContainer {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.recipeImageContainer img {
  height: 130px;
  width: 130px;
}

.recipeInfoContainer {

}


