.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 1rem 1rem;
}

.btn {
  margin: 1rem 0;
}

.titleBar {
  display: flex;
  margin-right: 4rem;
}

.titleBar h1 {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}

.viewPlanBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
}



