.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 10px;
}

.btn {
  margin: 1rem 0;
}

.viewPlanBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
}

.noRecipes {
  width: 80vw;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
}



