
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fcfbf5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background-color: #fcfbf5; */
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}
