.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 5px;
}

.container h1 {
  margin-bottom: 40px;
}

.planItem {
  width: 90%;
  min-height: 45px;
  line-height: 45px;
  margin: 10px 0;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.31);
  background-color: #ffffff;
  color: #F37742;
  transition: all 0.3s ease;
}

.planItem:active, .planItem:hover {
  background-color: #F37742;
  color: #ffffff;
}

.planItem p {
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.cost {
  width: 90%;
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.cost p {
  margin-left: 60px;
  color: #F37742;
  font-weight: 400;
}

.cost p, .cost h3 {
  font-size: 18px;
}

.recipes {
  width: 90%;
  font-size: 18px;
}

.noPlans {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
}