.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.createBudgetHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createBudgetHeader h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: .06em;
}

.container h3 {
  color: #b5b5b5;
  font-weight: 400;
}

.updateSettingsHeader {
  text-align: center;
  font-size: 30px;
  letter-spacing: .06em;
}

.updateSettingsHeader h6 {
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 0;
  font-weight: 300;
}

.updateSettingsHeader h6 span{
  font-weight: 400;
}

.dashContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.dashHeaderContainer h1{
  margin-bottom: 40px;
  font-size: 55px;
}

.weeklyBudget {
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
  text-decoration-line: underline;
  color:#FFA927;
  border-style: none;
  background-color: transparent;
} 

.weeklyBudget:active{
  color: gray;

}

.dashButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  margin-top: 100px;
}

